#!/usr/bin/make -f

OPTS = ""

ifeq (,$(findstring nolauncher,$(DEB_BUILD_OPTIONS)))
    OPTS += "--enable-maemo-launcher=yes"
    USE_MAEMO_LAUNCHER = true
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(OPTS)

override_dh_auto_install:
	dh_auto_install
	if test "x$(USE_MAEMO_LAUNCHER)" = "xtrue"; then \
		dh_maemolauncher /usr/bin/osso-xterm; \
	fi
	dh_installdocs -a AUTHORS NEWS README THANKS
	install -d `pwd`/debian/osso-xterm/usr/share/man/man1
	install `pwd`/debian/osso-xterm.1 `pwd`/debian/osso-xterm/usr/share/man/man1

